// font
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i,800");

// Reseting the font-size,
// Like this you can use REM like that
// 1rem = 10px

html,
body {
  font-size: 62.5%;
  font-family: $font-family-primary;
}
