@import '../common';
// Local Variables
$logo-size-sm: 323px;
$logo-size-xs: 270px;

.logo{
    $this: &;

    @media screen and (max-width: $screen-xs) {}
    @media screen and (min-width: $screen-sm) {}
    @media screen and (min-width: $screen-md) {}
    @media screen and (min-width: $screen-lg) {}
}
