@import '../common';
.slider {
    $this: &;
    // Overwrite in slick css
    .slick{
        &-arrow{
            position: absolute;
            /*Reset Style*/
            border:none;
            background: transparent;
            font-size: 0;
            padding:0;
            /*Styling*/
            @include ani;
            &:focus,
            &:active{
                outline: none;
            }
        }

        &-prev{
            left:0;
        }

        &-next{
            right:0;
        }

        //Dots
        &-dots{
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);

            li{
                display: inline-block;
                opacity: .5;
                @include ani;

                &.slick-active{
                    opacity: 1;
                }

                button{
                    border-radius: 50%;
                    padding: 1rem;
                    border: none;
                    background: $color-secondary;
                    font-size: 0;

                    &:focus,
                    &:active{
                        outline: none;
                    }
                }

                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
        }
    }
    @media screen and (max-width: $screen-xs) {}
    @media screen and (min-width: $screen-sm) {}
    @media screen and (min-width: $screen-md) {}
    @media screen and (min-width: $screen-lg) {}
}
